<html>
	<head>
		<title>DestinyQuest Character Sheet</title>

		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
		<script src="//ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>

		<script src="js/main.js?rev=<%= ticks %>"></script>
		<script src="js/views/mainSheetView.js?rev=<%= ticks %>"></script>
		<script src="js/views/counterView.js?rev=<%= ticks %>"></script>

		<script src="js/models/counter.js?rev=<%= ticks %>"></script>
		<script src="js/models/attribute.js?rev=<%= ticks %>"></script>


		<link href="css/dq.css?rev=<%= ticks %>" type="text/css" rel="stylesheet"></link>
	</head>

	<body>
		<div id="mainSheet">
			<div class="row">
				<div class="cell" data-name="Cloak">
				</div>

				<div class="cell" data-name="Head">
				</div>

				<div class="cell" data-name="Gloves">
				</div>
			</div>

			<div class="row">
				<div class="cell" data-name="Main Hand">
				</div>

				<div class="cell" data-name="Chest">
				</div>

				<div class="cell" data-name="Left Hand">
				</div>
			</div>

			<div class="row">
				<div class="cell" data-name="Talisman">
				</div>

				<div class="cell" data-name="Feet">
				</div>

				<div class="cell" data-name="Money Pouch">
				</div>
			</div>
		</div>

		<!-- Templates -->
		<script id="mainCellTemplate" type="text/template">
			<div>
				<p><%%- name %>:</p>
				<textarea rows="2" class="description" />

				<div class="attributes"></div>
			</div>
		</script>

		<script id="counterTemplate" type="text/template">
			<%%= type %>
			<%%= count %>
			<a href="#" class="increment">+</a>
			<a href="#" class="decrement">-</a>
		</script>
	</body>
</html>
